<html ng-app="Ponder">
<head>
	<script src="angular/angular.js"></script>
	<script src="javascripts/app.js"></script>
	<script src="jquery/dist/jquery.js"></script>
	<link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
	<h1>ponder</h1>

	<div>
		<p>What is your greatest dream?</p>
	</div>

	<div ng-controller="AnswerController">
		<form ng-submit="submitAnswer()">
			<p>
				Answer: <input type="text" class="form-control" ng-model="text" required/>
			</p>
			<p>
				Name: <input type="text" class="form-control" ng-model="byName" required/>
				Country: <input type="text" class="form-control" ng-model="inCountry" required/>
			</p>
				<input class="btn btn-default" type="submit" value="submit" />
		</form>
		<div ng-repeat='answer in answerData'>
			{{answer.text}}
		</div>
	</div>

</body>
</html>